.loader-div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: rgb(228,228,228);
    /* background: #e2a9e5;
    background: -moz-linear-gradient(-45deg, #e2a9e5 15%, #2b94e5 100%);
    background: -webkit-linear-gradient(-45deg, #e2a9e5 15%, #2b94e5 100%);
    background: linear-gradient(135deg, #e2a9e5 15%, #2b94e5 100%); */
}
.loader-div img{
    margin: 20px;
    width: 150px;
    height: 150px;
}