.register-container {
    margin: 20px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
    width: 400px;
    gap: 20px;

}

.register-main-title {
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.register-google-button {
    margin: 20px 0 0 0;
    border-radius: 30px;
    border: none;
    width: 350px;
    height: 42px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: black;
    cursor: pointer;
}


.register-google-icon {
    background-color: white;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}

.register-google-title {
    margin: auto;
    color: white;

}

.register-type-seporator {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: white;
    font-weight: bold;
}

.register-form-input-div {
    display: flex;
    flex-direction: column;

}


.register-form-input {
    margin: 10px 0 5px 0;
    border-radius: 30px;
    border: none;
    background-color: #d3e4f1;
    width: 350px;
    height: 35px;
    outline: none;
    box-sizing: border-box;
    padding: 10px;

}

.register-form-input:active {
    transform: scale(.98);

}

.register-term-txt {
    margin: 0 0 0 10px;
    font-weight: 500;
}



.register-submit-btn {
    padding: 10px 20px 10px 20px;
    width: 150px;
    background-color: black;
    color: white;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
}

@media only screen and (max-width:500px) {
    .register-container {
        height: 400px;
        width: 400px;
        gap: 20px;
        margin: 5px 0 0 0;
    }

    .register-main-title {
        font-size: 25px;
    }

    .register-google-button {
        width: 300px;
        height: 42px;
        margin: 10px 0 0 0;
    }

    .register-form-input {
        margin: 10px 0 5px 0;
        border-radius: 30px;
        width: 300px;
        height: 35px;
        box-sizing: border-box;
        padding: 10px;

    }

    .register-tern-div {
        width: 300px;
        text-align: center;

    }

    .register-submit-btn {
        padding: 10px 20px 10px 20px;
        width: 150px;
        background-color: black;
        color: white;
        font-weight: bold;
        border-radius: 20px;
        cursor: pointer;
    }

}