* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat !important;
  user-select: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {

    background-color: rgb(228, 228, 228);
}
::-webkit-scrollbar-thumb {
  background: #ffffff; 
  border-radius: 10px;
}

div, button {
  -webkit-tap-highlight-color: transparent;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}